.roadmap {
  background-color: #030711;
  color: #ffffff;
  border: 1px solid #1d283a;
  border-radius: 5px;
}

.title {
  font-family: "Igra Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 20px 32px;
  border: 1px solid var(--Gray-600, #1d283a);
  border-bottom: none;
  margin-bottom: 0 !important;
  background: var(
    --Primary-Gradient-White-to-black,
    linear-gradient(90deg, #fff 40%, rgba(255, 255, 255, 0.3) 60%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply font-igraSans;
}

.roadmapItem {
  background-color: transparent;
  padding: 20px;
  border: 1px solid #1d283a;
  border-radius: 0px 0px 4px 4px;
}

.itemTitle {
  font-family: "Igra Sans", sans-serif;
  font-size: 20px;
  color: #0f62fe;
  margin-bottom: 15px;
}

.taskList {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkmark {
  margin-right: 10px;
}

.taskDescription {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #fff;
}
