.imagesContainer {
  width: 100%;
  color: #fff;
  background-color: #0a0f1a;
  z-index: 1000;
  padding: 2rem;
  @media screen and (max-width: 640px) {
    padding: 24px;
  }
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.imagesGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  background: #111827;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  height: 150px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.uploadedFile {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uploadIcon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.requiredStar {
  color: #0f62fe;
}

.gradientHeader {
  background: var(
    --Primary-Gradient-White-to-black,
    linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.3) 19%)
  );
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  @apply font-igraSans;
}

.blueText {
  color: #0f62fe;
}

.fileIcon {
  width: 28px;
  height: 28px;
}
