.mobileMenu {
  position: fixed;
  z-index: 900;
  bottom: 0;
  left: 0;

  width: 100%;
  height: fit-content;
  padding: 12px 0;
  background: #111827;

  display: none;
  align-items: center;
  justify-content: space-around;

  .mobileLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    opacity: 0.2;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }

  .active {
    opacity: 1;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
  }
}

.menu {
  height: 100vh;
  max-width: 140px;
  background: #101322;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 48px 45px;

  .logoImg {
    width: 48px;
    height: 40px;
  }

  .wrapper {
    margin: 100px 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .link {
    padding: 12px;
    border: 1px solid #f8fafc;
    border-radius: 4px;
    opacity: 1;

    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
  .notActive {
    opacity: 0.2;
  }

  .walletButton {
    margin-top: 45px;
    padding: 16px 32px;
    transform: rotate(-90deg);

    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    color: #e1e7ef;
    border-radius: 4px;
    border: 1px solid #e1e7ef;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #e1e7ef;
      color: #101322;
    }
  }

  @media screen and (max-width: 1280px) {
    display: none;
  }
}
