.projectCard {
  background-color: #0a0f1a;
  padding: 25px;
  color: white;
  max-width: 297px;
  border-radius: 8px;
  border: 1px solid #1d283a;
  z-index: 1000;

  @media screen and (max-width: 430px) {
    width: 100%;
    max-width: none;
  }
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.projectName {
  font-weight: bold;
  font-size: 18px;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  position: relative;
}

.tag > span {
  position: absolute;
  color: white;
  top: 8px;
  left: 16px;
  font-weight: 600;
  font-size: 12px;
}

.vestingStatus {
  display: flex;
  align-items: center;
  background-color: #00a86b;
  color: #030711;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.checkmarkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  margin-left: 6px;
}

.checkmark {
  color: #00a86b;
  font-size: 14px;
  line-height: 1;
}

.projectImage {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.projectDetails {
  .tokenName {
    margin-bottom: 8px;
  }
}

.projectDescription {
  font-size: 14px;
  margin-bottom: 12px;
}

.projectTags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  color: #030711;
}

.tag {
  background-color: #3a4556;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;

  &[data-tag="AI"] {
    background-image: var(--bg-image);
    background-color: transparent;
  }
}

.viewDetailsBtn {
  width: 100%;
  background-color: #0a0f1a;
  border: 1px solid var(--Gray-400, #7f8ea3);
  color: #8b95a5;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
