.stepList {
  background-color: #1a1a1a;
  padding: 20px;
}

.stepWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.stepContent {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.stepHeader {
  display: flex;
  align-items: center;

}

.stepIconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 12px;
  
  &.completed, &.in_progress {
    background-color: #0066ff;
  }
  
  &.pending {
    background-color: #444;
  }
}

.stepIcon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
}

.iconCompleted {
  background-image: url('check.svg');
}

.iconInProgress {
  background-image: url('in-progress-icon.svg');
}

.iconPending {
  background-image: url('pending-icon.svg');
}

.stepTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  
  &.completed, &.in_progress {
    color: #ffffff;
  }
  
  &.pending {
    color: #999;
  }
}

.childSteps {
  margin-left: 32px;
  margin-top: 8px;
}

.childStep {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
  
  &.completed::before {
    background-color: #0066ff;
  }
  img {
    margin-right: 10px
  }
}

.childTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #999;
  
  .completed & {
  }
  .current & {
    color: #ffffff;
  }
}

.stepLineWrapper {
  position: absolute;
  left: 19px;
  top: 51px;
  bottom: -35px;
  width: 2px;
}

.stepLine {
  width: 100%;
  height: 100%;
  background-color: #676E76;
  
  &.completedLine  {
    background-color: #0F62FE;
  }
}
