.periodDropdownContainer {
  display: flex;
  align-items: center;
  background: #111827;
  border-radius: 4px;
  color: #fff;
  width: 100%;
}

.periodInput {
  background: #111827;
  border: none;
  color: #fff;
  padding: 10px;
  width: 50px;
  outline: none;
}

.unitDropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selectedUnit {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  padding: 4px 10px;
}

.arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.up {
  transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
}

.unitDropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #111827;
  border-radius: 4px;
  z-index: 10;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #1b2531;
  background: #1c1c1e;
  color: #fff;
}

.unitDropdownItem {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.unitDropdownItem:hover {
  background: #333;
}
