.chartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
}

.button.active {
  background-color: #1e90ff; /* Adjust as needed */
  border-radius: 5px;
}
