.title {
  width: max-content;
  font-family: "Igra-Sans", sans-serif;
  font-size: 36px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.3)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}
