.container {
  display: flex;
  flex-direction: column;
  width: 435px;
  padding: 80px 56px 40px;
  background-color: #0a0f1a;
}

.headerTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.rangeContainer {
  display: flex;
  flex-direction: column;
}

.inputsWrapper {
  margin: 16px 0 24px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.inputContainer {
  width: 158px;
  display: flex;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;

  border-radius: 8px;
  border: 1px solid #1d283a;

  color: #fff;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.rangeInput {
  background: transparent;
  width: 60px;
  height: 56px;
  padding: 5px;

  text-align: center;
  -moz-appearance: textfield;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  margin: 32px 0 4px 0;
  font-family: "Inter", sans-serif;
  color: #fff;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.radioContainer,
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  color: #ffffff;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.radioCheckmark,
.checkboxCheckmark {
  width: 27px;
  height: 27px;

  border: 1px solid #1d283a;
  border-radius: 50%;
  position: relative;
}

.checkboxCheckmark {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:checked {
  & + .radioCheckmark {
    background-color: #0f62fe;
  }
  & + .radioCheckmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    background-color: #0a0f1a;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

input[type="checkbox"]:checked {
  & + .checkboxCheckmark {
    background-color: #007bff;
  }
  & + .checkboxCheckmark::after {
    content: url("images/white-checkmark.svg");
    margin-bottom: 2px;
  }
}

.button {
  margin-top: 60px;
  display: flex;
  width: 100%;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 4px;
  background: var(--Secondary-Blue-500---Primary, #0f62fe);

  color: #fff;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
