.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.rightPartContainer {
  display: flex;
  flex-direction: column;
  background-color: #030711;
  width: 100%;
  height: 100%;
  padding: 3rem 6rem;
  position: relative;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  padding: 2rem;
  border: 1px solid #1d283a;
  border-radius: 0.5rem;
}

.teamSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  padding: 2rem;
  border: 1px solid #1d283a;
  background-color: #030711;
  margin-top: 2rem;
  z-index: 1000;
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  border: 1px solid #1d283a;
  border-radius: 0.5rem;
  width: 100%;
}

.teamContainer {
  margin-top: -2rem;
  display: flex;
  gap: 24px;
}

.name,
.role,
.description {
  text-align: center;
}

.name {
  font-size: 20px;
}

.role {
  font-size: 18px;
  color: #7f8ea3;
}

.description {
  font-size: 14px;
}

.gradientHeader {
  background: var(
    --Primary-Gradient-White-to-black,
    linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.3) 19%)
  );
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-family: "Igra-Sans", sans-serif;
}

.textSection > p {
  margin-top: -2rem;
  font-size: 16px;
}

.rightBg {
  @apply absolute
      bottom-0
      left-1/2;
}

@media screen and (max-width: 640px) {
  .rightBg {
    @apply left-0;
  }
}

.containerWithPic {
  display: flex;
  flex-direction: column;
}

.containerWithPic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgContainer {
  height: 340px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
