.additionalTractionContainer {
	width: 100%;
	color: #fff;
	background-color: #0a0f1a;
	z-index: 1000;
	padding: 2rem;
	width: 100%;
	@media screen and (max-width: 640px) {
		padding: 24px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	@media screen and (max-width: 640px) {
		margin-bottom: 0px;
	}
}

.addLinkButton {
	display: flex;
	align-items: center;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
}

.traction {
	margin-bottom: 20px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
}

.formGroupFull {
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
	width: 100%;
}

label {
	margin-bottom: 5px;
	font-size: 14px;
}

.input,
select,
textarea {
	background: #1c1c1e;
	border: 1px solid #1b2531;
	border-radius: 4px;
	color: #fff;
	padding: 10px;
}

textarea {
	height: 100px;
	resize: none;
}

.deleteButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
	margin-left: auto;
}

.flexRow {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.flexRow > * {
	width: 100%;
}

.requiredStar {
	color: #0f62fe;
}

input::placeholder,
textarea::placeholder {
	color: #676e76;
}

.gradientHeader {
	background: var(
		--Primary-Gradient-White-to-black,
		linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.3) 79%)
	);
	background-clip: text;
	font-weight: 600;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 24px;
	@apply font-igraSans;
	margin-bottom: 20px;
}

.blueText {
	color: #0f62fe;
}

.blueCircle {
	background: #0f62fe;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	font-size: 22px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	justify-content: center;
}

.deleteCircle {
	background: #cd3636;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	justify-content: center;
	color: white;
}

.optionalText {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

.grayText {
	color: #7f8ea3;
}

.selectedElementText {
	font-size: 18px;
	margin-bottom: 1rem;
	background: var(
		--Primary-Gradient-White-to-black,
		linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.3) 79%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
