.mainContainer {
  @apply w-full bg-black relative;
}

@media screen and (max-width: 1024px) {
  .mainContainer {
    @apply flex flex-col;
  }
}

.topWrapper {
  @apply h-[300px]
    relative;
}

.topBg {
  @apply absolute w-full
  h-[300px] top-0
  left-0 right-0
  object-cover border-b-[1px] border-[#FFFFFF40]
  z-0;
}
@media screen and (max-width: 1024px) {
  .topWrapper {
    @apply h-[150px];
  }
  .topBg {
    @apply top-[80px] h-[150px];
  }
}

.avatarWrapper {
  @apply absolute p-[8px]
  bg-dark
  max-w-[180px]
  max-h-[180px]
  z-50
  -bottom-[32px] left-[120px];
}

@media screen and (max-width: 1024px) {
  .avatarWrapper {
    @apply max-w-[100px]
    max-h-[100px]
    left-[16px] p-[5px];
  }
}

.wrapper {
  @apply w-full
  flex
  justify-end;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    @apply flex-col justify-start h-full;
  }
}

.bottomWrapper {
  @apply flex
  justify-between
  h-full
  relative;
}

.navBarMobile {
  @apply hidden;
}

@media screen and (max-width: 1024px) {
  .navBarMobile {
    @apply flex items-center
    justify-between
    px-[16px]
    py-[21px];
  }
}

.navBar {
  @apply min-h-full 
    w-[6rem]
    bg-darkGray
    pt-[60px]
    gap-[80px]
    flex
    flex-col
    items-center;
}

@media screen and (max-width: 1024px) {
  .navBar {
    @apply hidden;
  }
}

.navLogo {
  @apply w-[32px] h-[27px];
}

.btnWrapper {
  @apply flex flex-col items-center gap-[127px];
}

.navBtn,
.navWhiteBtn {
  @apply h-[42px]
  w-[120px]
  flex justify-center
  items-center
  font-medium text-[12px]
  font-milligram transition-all
  -rotate-90;
}

.navBtn {
  @apply border
  border-[#3F3F3F]
  text-gray
  hover:bg-gray
  hover:text-darkGray;
}
.navWhiteBtn {
  @apply bg-white
  text-darkGray
  w-[142px]
  hover:bg-gray
  hover:text-darkGray;
}

@media screen and (max-width: 1024px) {
  .btnWrapper {
    @apply flex-row gap-[12px];
  }
  .navBtn,
  .navWhiteBtn {
    @apply h-[38px]
    w-[120px]
    flex justify-center
    items-center rotate-0;
  }
  .navWhiteBtn {
    @apply w-[142px];
  }
}
