.mainContainer {
  @apply w-full bg-[#0F0F0F] relative;
}

.topWrapper {
  @apply h-[323px]
    container mx-auto
    relative;
}

.topBg {
  @apply absolute w-full
  h-[323px] top-0
  left-0 right-0
  object-cover border-b-[1px] border-[#FFFFFF40]
  z-0;
}
.avatarWrapper {
  @apply absolute pt-[8px] pl-[8px]
    bg-[#151515]
    max-w-[180px] max-h-[180px]
    z-50 -bottom-[32px] left-[100px];
}

.wrapper {
  @apply container
  mr-auto
  flex
  justify-end;
}

.bottomWrapper {
  @apply flex justify-between h-full relative;
}

.navBar {
  @apply min-h-full w-1/5
    bg-[#1C1C1C]
    gap-[120px] pt-[60px]
    font-milligram
    pr-[32px];
}

.navBarWrapper {
  @apply flex flex-col
  w-fit items-center
  ml-auto gap-[54px];
}

.navLogo {
  @apply w-[32px] h-[27px];
}

.btnWrapper {
  @apply flex flex-col gap-[27px];
}

.navBtn {
  @apply border
  border-[#3F3F3F]
    px-4 py-3
    font-medium text-[12px]
    text-[#9C9C9C]
    rotate-180;
  writing-mode: vertical-rl;
}
.navWhiteBtn {
  @apply bg-[#FFFFFF]
      px-4 py-3
      font-medium text-[12px]
      text-[#1C1C1C]
      rotate-180;
  writing-mode: vertical-rl;
}

.leftWrapper {
  @apply max-w-[410px]
  w-full
  h-fit
  pb-[300px]
  flex flex-col
  gap-[24px]
  bg-[#151515]
  pt-[70px] px-[34px];
}

.leftCard {
  @apply max-w-[344px]
    relative overflow-hidden
    w-full
    h-fit
    pt-[32px]
    pl-[24px]
    pb-[34px]
    flex flex-col gap-[30px]
    justify-between
    border
    border-[#FFFFFF25]
    font-igraSans;
}

.leftCardTitle {
  @apply text-[20px]
  font-normal
  leading-[26px]
  text-[#FFFFFF];
}
.leftCardBg {
  @apply absolute
    top-0 right-0;
}

.rounds {
  @apply flex flex-col
    gap-[24px]
    text-[#FFFFFF] max-w-[344px];
}

.roundsTitle {
  @apply text-[20px] font-semibold leading-[27px];
}

.roundBtn {
  @apply border
    border-[#FFFFFF25]
    px-[32px] py-[16px]
    flex 
    justify-between items-center;
}

.socials {
  @apply flex flex-col
    gap-[16px]
    max-w-[344px] text-[#FFFFFF];
}

.socialsTitle {
  @apply text-[20px]
  font-semibold
  leading-[27px]
  mb-2;
}

.social {
  @apply flex 
    items-center justify-between;
}

.socialLeft {
  @apply flex
    items-center
    gap-[16px];
}
.socialLeft span {
  @apply font-milligram
  text-[12px] opacity-70;
}

.rightWrapper {
  @apply relative
    flex
    flex-col
    pt-[70px]
    px-[32px]
    w-full min-h-full
    text-[#FFFFFF];
}

.rightCard {
  @apply border
  border-[#FFFFFF25]
    max-w-[719px]
    p-[32px]
    flex flex-col
    justify-between
    relative;
  background: linear-gradient(252deg, #2c2c2c -6.59%, #0f0f0f 35.06%);
}

.rightTitle {
  @apply flex gap-[24px] items-center font-igraSans;
}

.rightTitle h3,
.rightTitle span {
  @apply text-[20px];
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightTitle span {
  @apply text-[16px];
}

.rightText {
  @apply text-[12px]
    text-[#C0C0C0]
    max-w-[400px]
    mt-[26px]
    font-milligram;
}

.rightBtn {
  @apply max-w-[167px]
    mt-[32px]
    bg-[#FFFFFF]
    px-[20px] py-[14px]
    text-[#0F0F0F]
    font-bold text-[12px]
    uppercase;
}

.rightCardBg {
  @apply absolute
  h-full
    bottom-0
    right-0 opacity-75;
}

.vestingTitle {
  @apply text-[20px] font-semibold mt-[46px] mb-[24px];
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vesting {
  @apply flex flex-col
    gap-[40px]
    border
    border-[#FFFFFF25]
      max-w-[719px]
      p-[32px] text-[#FFFFFF];
}

.vestingWrapper {
  @apply flex
     justify-between
     items-center;
}

.vestingItem {
  @apply flex
    gap-[16px]
    items-center;
}

.vestingNumber {
  @apply w-[23px] h-[23px]
    rounded-full
    flex items-center justify-center
    bg-[#FFFFFF]
    text-[14px]
    font-medium
    text-[#3F3F3F]
    font-milligram;
}

.vestingName {
  @apply text-[14px] font-semibold;
  background: linear-gradient(90deg, #ffffff 50%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vestingInf {
  @apply text-[14px] font-semibold;
}

.vestingBottomTitle {
  @apply text-[18px] font-semibold mr-2;
  background: linear-gradient(90deg, #ffffff 50%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vestingBottomInf {
  @apply text-[18px] font-semibold mr-2;
}

.rightBg {
  @apply absolute
    bottom-0
    left-[100px];
}

.graph {
  @apply flex
      border
      border-[#FFFFFF25]
      max-w-[719px]
    text-[#FFFFFF]
    mt-[40px];
    background: linear-gradient(
      251.41deg,
      rgba(44, 44, 44, 0.3) -6.59%,
      rgba(15, 15, 15, 0.3) 35.06%
    );
}

.leftGraphWrapper {
  @apply max-w-[207px]
    w-full h-full
    p-[26px]
    flex flex-col
    items-center
    gap-[30px]
    justify-center
    border-r border-[#FFFFFF25];
  background: linear-gradient(
    251.41deg,
    rgba(44, 44, 44, 0.3) -6.59%,
    rgba(15, 15, 15, 0.3) 35.06%
  );
}

.leftGraphTitle {
  @apply text-[16px] font-semibold;
}

.leftGraph {
  @apply relative 
  flex flex-col
  justify-center items-center
  gap-1
  w-[142px] h-[148px];
}

.leftGraphImg {
  @apply absolute top-0
  left-0 w-full h-full  object-contain;
}

.graphPercent {
  @apply text-[28px] font-semibold leading-[39px] mt-2;
}

.graphText {
  @apply text-[14px] leading-[19px];
}

.chartWrapper {
  @apply flex flex-col
    gap-[24px]
    px-[26px]
    pt-[32px] pl-[20px]
    w-full h-full;
}
