.tractionContainer {
  width: 100%;
  color: #fff;
  z-index: 1000;
  position: relative;
}

.navbar {
  display: flex;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

@media screen and (max-width: 1600px) {
  .navbar {
  }
}

.navLink {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 10px 24px;
  transition: color 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a0f1a;
}

.sectionLinksContainer {
  display: flex;
  margin-bottom: 1rem;
  width: 60%;
  justify-content: center;
}

@media screen and (max-width: 1600px) {
  .navLink {
    padding: 10px 8px;
  }

  .sectionLinksContainer {
    width: 56.5%;
  }
}

.navLink:hover {
  color: #fff;
}

.active {
  color: #0f62fe;
}

.progressBarContainer {
  width: 6rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-top: 4px;
}

.progressBar {
  height: 2px;
  background-color: #0f62fe;
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  margin-top: 24px;
  padding: 24px 0;
}
