.tokenDropdownContainer {
  display: flex;
  align-items: center;
  background: #111827;
  border: 1px solid #1b2531;
  border-radius: 4px;
  color: #fff;
  width: 100%;
}

.tokenInput {
  background: #111827;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
  outline: none;
}

.tokenIcon {
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.tokenUnitDropdown {
  position: relative;
  width: 25%;
  cursor: pointer;
  min-width: max-content;
}

.selectedToken {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: auto;
}

.arrow.up {
  transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
}

.tokenDropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #111827;
  border-radius: 4px;
  z-index: 10;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #1b2531;
  background: #111827;
  color: #fff;
}

.tokenDropdownItem {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.tokenDropdownItem:hover {
  background: #333;
}
