.container {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;

	@media screen and (max-width: 640px) {
		flex-direction: column;
	}
}

.bgContainer {
	height: 340px;
	background-size: cover !important;
	background-repeat: no-repeat !important;

	@media screen and (max-width: 1280px) {
		height: 100px;
		background-position: center !important;
	}
}

.rightBg {
	@apply absolute
      bottom-0
      left-[50%];
}

@media screen and (max-width: 640px) {
	.rightBg {
		@apply left-0;
	}
}
